<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hippocampe</title>
   <link rel="stylesheet" href="/css/style.css">
  </head>
  <%- include('header'); %>
   <body>
     <div class="form-wrapper">
       <div class="heading">
        <h1>Je dois faire ...</h1>
       </div>
       <form action="/create" method="post">
         <input type="text" name="memoireName" maxlength="50" required>
         <input class="memoriser" type="submit" value="Mémoriser!">
       </form>
      </div>
     <div class="back-wrapper">
      <a class="back" href="/">Back</a>
    </div>

   </body>
</html>